<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Rails Sample App</title>
  </head>
  <body>
    <h1>Rails Sample App</h1>
    <p>
      This is the homepage for the
      <a href="https://euclidpower.com">Jacob Sandry Sample Rails App</a>
    </p>
  </body>
</html>
